#buttons {
  display: flex;
  justify-content: space-between;
}

#new-quote, #tweet-quote {
  padding: 12px 20px;
  border: none;
  color: white;
  font-size: 1em;
  border-radius: 4px;
  transition: background-color 2s;
}

#new-quote:hover,
#tweet-quote:hover {
  opacity: 0.8;
}

#new-quote:focus {
  outline: 0;
}