
@import url(https://fonts.googleapis.com/css?family=Raleway:400,500);

.container {
  display: flex;
  justify-content: center;
  align-items: center;
  height: 100vh;
  color: #333;
  font-family: 'Railway';
  width: 100%;
  transition: background-color 2s, color 2s;
}

#quote-box {
  box-sizing: border-box;
  width: 40%;
  background: #eee;
  padding: 40px;
  border-radius: 5px;
}